<!DOCTYPE html>
<html>

<head>
<title>Todo App</title>
</head>

<body>

<header>
	<h1> Todo App </h1>

</header>
	
	<%= yield %>        <!-- The codes in other files in this document get replace in yield -->

<footer>
	<h3> Made By: Mudit Bhardwaj </h3>
</footer>
</body>

</html>